
.flexwrap {
  display: flex;
  flex-direction: row;
  transition: all 4.0s ease;
}

.beltflex {
  display: flex;
  flex-direction: column;
  align-items: left;

}

.techniquelistflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

#login-buttons a {
  text-decoration: none;
}
