/* Welcome component styling */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

/* Login button styling */

#login-buttons a, a:hover {
  text-decoration: none;
}

a, a:hover {
  color: #5a5a5a;
}

/* Container styling */

.flexwrap {
  display: flex;
  flex-direction: row;
}

/* Beltlist component styling */

.beltlist-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Techniquelist component styling */

.techniquelist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-height: 70vh;
}

/* Technique component styling */

.technique-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

.ui.card {
  width: 60vw;
  max-width:60vw;
}

.technique-image-container {
  max-height: 30vh;
  max-width: 60vw;
  display: flex;
  justify-content: center;
}

.technique-image {
  max-width: inherit;
  max-height: inherit;
}
